
$maincolor:#c8a97e;
$secondcolor:#666666;


header
{
    height: 75vh !important;
}
.breadcrumb-item  {
    font-size:25px ;
}
.mypagehead
{
    font-size:5rem;
    font-weight: 600;
    color: #fff !important;

}

.carousel
{
    height: 70vh !important;  
}
.contactdata span 
{
    color: $maincolor;
}


