$maincolor:#c8a97e;
$secondcolor:#666666;
.carousel-item
{
    position: relative;
    height: 100%;
}
.linkcolor
{
    background-color:rgba(255, 255, 255, 0.2) !important;
    padding: 10px;

}
.overlay
{
    background-color:rgba(0, 0, 0, 0.5) !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}
.logo
{
    font-size: 2rem;
    color: #c8a97e !important;

}
.carousel-caption h1
{
    font-size:3rem;
    padding:2rem 0 4rem;
    color: #fff;
    line-height: 1;
    font-weight: lighter;
    font-family: "Poppins", Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.carousel-caption p {
    font-size: 3rem;
    color: #c8a97e;
    font-weight: normal;
    font-family: "Great Vibes", cursive;
    margin-bottom: 0;
    line-height: 1;
}
.nav-link
{
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight:400;
    line-height:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-link:hover
{
    color: #c8a97e !important;
}

.book 
{
    background-color: #c8a97e;
    padding-left: 10px;
    
}
.book:hover ,.active
{
    color: white !important;
}
.contactinfo
{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color:rgba(255, 255, 255, 0.6) !important;

}
header
{
    height: 100vh !important;
}
.mainnav
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2) !important;
}
@media (max-width: 992px) {
    .mainnav
         {
            background-color:black !important;

         }

}
.carousel
{
    height: 100vh !important;  
}
.carousel-inner ,.carousel-item 
{
    height: 100%;
    position:relative;
}
.nav-link
{
    color: #fff !important;
}

